.container {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
.date {
  text-align: center;
  color: #3b3b3b;
  font-weight: 600;
}
.week_container {
  display: grid;
  grid-template-columns: repeat(7, 30px);
}
.week {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaaaaa;
  padding: 3px;
  margin: 3px;
  font-weight: 600;
  font-size: 12px;
}

.day {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000000;
  padding: 3px;
  margin: 3px;
  font-size: 12px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 30px);
  grid-template-rows: repeat(5, 30px);
}
.day_off {
  border-radius: 50%;
  background: #91bbff;
}
